*{
box-sizing:border-box;
}
body{
    background-color:burlywood;
    box-sizing: border-box;
}
.main{
    background-color: aquamarine;
    height: 400px;
    width: 400px;
}
.box{
    box-sizing:border-box;
    color:white;
    padding: 20px;
    height: 100px;
    width:100px;
    border-radius: 50px;
    background-color: red;
}
.box+p
{
    color:blueviolet;
}
.stand{
    background-color:rebeccapurple;
    height: 100px;
    width: 20px;
    height: 600px;
    margin-left: 41px;

}
/*pseudo selector*/
.box:hover{
    background-color:orange;
}




   
